<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <meta charset="utf-8">
    <title>Demo Project II</title>
</head>

<body>
    <p class="title common">Raw Python Neural Network - Handwritten digits recognition</p>
    <p class="title common">Nguyễn Minh Đăng</p>
    <div class="common">
        <a href="https://github.com/nai-kon/CNN-Digit-Recognition">Designed by Katz Sasaki</a><br/>
    </div>
    <br/>
    <div class="common">
        <div class="boxitem">
            <canvas id="inputimg" width="196" height="196"></canvas>
            <button id="clearbtn">Clear</button>
        </div>
        <!--<canvas id="detectimg" width="98" height="98" style="border: solid 1px black"></canvas>-->
        <!--<canvas id="centerimg" width="98" height="98" style="border: solid 1px black"></canvas>-->
        <div class="boxitem">
            <div id="predictdigit">0</div>
            <div id="probStr">Probability : </div>
        </div>
        <div class="boxitem">
            <svg id="probGraph" width="250" height="196"></svg>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script src="//d3js.org/d3.v5.min.js"></script>

</body>
